.buttons {
    margin-top: 10px;
}

.main-gif {
    max-width: 25vh;
    display: block;
}

.main-part {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fly-gif {
  position: absolute;
  width: 80px;
  pointer-events: none;
  animation: flyUp 1s ease-out forwards;
}

@keyframes flyUp {
  0% {
    transform: translate(-80%, -60%) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(-20%, -0px) scale(2);
    opacity: 1;
  }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', monospace;
    
    background: white;

}

h1 {
    color: hotpink;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 2vh;
}

button {
    font-family: 'Press Start 2P', monospace;
    background: hotpink;
    color: white;
    border-radius: 3vh;
    font-size: 2vh;
    border: pink;
    padding: 1vh;
    margin: 1vh;
    
}



#message {
    color: white
}

#lock-screen {
  position: fixed;
  inset: 0;
  background: #111;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.lock {
  display: flex;
  gap: 16px;
}

.digit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digit span {
  font-size: 32px;
  margin: 8px 0;
}

.digit button {
  background: #ff4d6d;
  border: none;
  color: white;
  cursor: pointer;
}

.particle {
  position: fixed;
  bottom: -50px;

  width: 24px;
  height: 24px;

  pointer-events: none;
  opacity: 0.9;

  animation: floatUp linear forwards;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) rotate(var(--rot)) scale(0.8);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(var(--height)) rotate(calc(var(--rot) + 90deg)) scale(1);
    opacity: 0;
  }
}
