.buttons {
    margin-top: 10px;
}

.main-gif {
    max-width: 25vh;
    display: block;
}

.main-part {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fly-gif {
  position: absolute;
  width: 80px;
  pointer-events: none;
  animation: flyUp 1s ease-out forwards;
}

@keyframes flyUp {
  0% {
    transform: translate(-80%, -60%) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(-20%, -0px) scale(2);
    opacity: 1;
  }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    background: white;

}

h1 {
    color: hotpink;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 5vh;
}

button {
    background: hotpink;
    color: white;
    font-family: 'Pacifico', cursive;
    border-radius: 3vh;
    font-size: 4vh;
    border: pink;
    padding: 2vh;
    margin: 1vh;
    
}



#message {
    color: white
}